<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDxw6x-O0vLjhTvDf_Q-Hpyp1aIVU7Oo4o</string>
	<key>GCM_SENDER_ID</key>
	<string>181874109170</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ios</string>
	<key>PROJECT_ID</key>
	<string>karwaservices-beta</string>
	<key>STORAGE_BUCKET</key>
	<string>karwaservices-beta.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:181874109170:ios:7e0096a75a5c74b13f3e6b</string>
</dict>
</plist>